<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="WebApiBaseUrl" value="https://admitere-online-2026.gojo9099.chatgpt.site" />
        <add key="WebImportToken" value="_7F3cgreNvYIZGJgDaN6Cvck3-N4PefIdNDuuNCC0i4" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
